.container {
  display: flex;
  flex-direction: row;

  .content {
    width: 500px;
  }

  .actions {
    width: 200px;

    button {
      margin-right: 10px;
    }
  }
}

.tags {
  font-size: smaller;
}

.tag {
  display: inline-block;
  margin: 10px 10px 10px 0;
  background-color: lightgray;
  padding: 2px 5px;
  border-radius: 20%;
}
